[submodule "choro-melodies"]
	path = choro-melodies
	url = git@github.com:fabianmoss/choro-melodies
[submodule "choro-harmonies"]
	path = choro-harmonies
	url = git@github.com:fabianmoss/choro-harmonies
[submodule "choro-scrape"]
	path = choro-scrape
	url = git@github.com:fabianmoss/choro-scrape
[submodule "choro-model"]
	path = choro-model
	url = git@github.com:fabianmoss/choro-model
[submodule "choro-audio"]
	path = choro-audio
	url = git@github.com:fabianmoss/choro-audio
