<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-main">
      <div class="footer-col footer-col-1">
        <p class="footer-title">{{ site.title | escape }}</p>
        <p class="footer-name">Contact: Fabian C. Moss (<a href="mailto:{{ site.email }}">{{ site.email }}</a>)</p>
        <p class="footer-affiliation">Julius-Maximilians-Universität Würzburg<br>Institute for Music Research<br>Zentrum für Philologie und Digitalität</p>
      </div>
      <div class="footer-col footer-col-2 footer-logo">
        <a href="https://www.uni-wuerzburg.de/zpd/" target="_blank" title="Zentrum für Philologie und Digitalität">
          <img src="{{ "/static/zpd-logo.png" | relative_url }}" alt="ZPD – Zentrum für Philologie und Digitalität" class="logo-zpd">
        </a>
        <a href="https://www.uni-wuerzburg.de" target="_blank" title="Julius-Maximilians-Universität Würzburg">
          <img src="{{ "/static/uni-wuerzburg.png" | relative_url }}" alt="Julius-Maximilians-Universität Würzburg" class="logo-jmu">
        </a>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="footer-legal">
        <a href="{{ "/imprint/" | relative_url }}">Imprint &amp; Privacy</a>
      </div>
      <p class="footer-copyright">&copy; 2026 {{ site.title | escape }}</p>
    </div>
  </div>
</footer>
